    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
     h1, h2,h4,h3, h5, body, span, b, p, span, strong,input{
        font-family: Inter !important; 
        letter-spacing: inherit;
    }
    h1, h2,h4,h3, h5{    font-weight: 600 !important;  }
    h5{ color: #010048;  }
    strong, p, article li, input, form option {  font-size: 16px ; }
    form .form-control.form-select, form option { font-size: 16px;}
    footer a, footer a b, footer a strong, footer b, footer p, footer strong {  font-size: .75rem !important; } 
    form .form-control, form  input::placeholder{  color: #000234 !important;   }

      .btn-brochure:hover{
    background: #d24937;
    color: #fff;
}
  .btn-brochure {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 5px;
        width: fit-content;
    text-decoration: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    padding: 0 15px 0 15px; 
    color: #d24937;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    gap: 10px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .1);
}

    .big {
        font-weight: 600;
    }


   .wufoo input.text {
    font-family: 'Inter'!important;
    color: #0023A0 !important;  
    height: 2.35rem !important;   
    background-color: transparent !important;
    border: none !important;   
    border-bottom: 1px solid #000234 !important;;
    border-radius: 0 !important;  
    padding-left: 0 !important;  
        background: none !important;
}

.wufoo label.desc { 
    font-family: 'Inter'!important;
    top: 0 !important;  
    left: 0 !important;   
    width: 100% !important;   
    transform: translateY(0%) !important;   
    font-size: 0.813rem !important;   
    line-height: 2 !important;   
    color: #000234 !important;   
    pointer-events: none !important;  
    transition: 0.25s ease all !important;    
    font-weight: normal!important;
}

.wufoo input.btTxt {
    font-family: 'Inter'!important;
    color: #fff;
    border-color: #000234;
    background-color: #000234;
    position: relative;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    transition: color 0.4s, border 0.3s;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 20px;
    max-width: 220px;
    width: 100%;
}


.wufoo input.btTxt:hover {
    background-color: #060721;
    border: 1px solid #060721;
}

.wufoo li.focused {
    background-color: #transparent; !important;
}
